/* Oculto el icono 'X' y lo muestro sólo en hover */
.delete-icon {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

/* El ícono de eliminar se vuelve visible */
.list-group-item:hover .delete-icon {
  opacity: 1;
}

/* Estilo clásico de una lista de tareas */
body {
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', sans-serif;
}

.main-title {
    font-size: 80px;
    color: #ead7d7;
    font-weight: 200;
}